nav {
  border-bottom: 1px solid $blue;
  padding-bottom: $defaultPadding;
  margin: 0;

  &, a, li, h1, h2, h3, h4, p {
    color: $yellow;
  }

  ul {
    list-style-type: none;
    margin: 0;
    width: 100%;
  }

  li {
    text-align: center;
    color: $yellow;
    font-size: 13px;
    display: inline-block;
    white-space: nowrap;
    width: 16%;
    cursor: pointer;
    min-width: 62px;

    a {
      padding: 5px;
      display: inline-block;
      width: 100%;
      color: $yellow;
    }

    &:hover {
      background-color: $blue;
      
      a {
        color: black;
      }
    }

    &.active {
      background-color: $yellow;

      a {
        color: black;
      }
    }    
  }
  
  &#mobile-nav {
    border-bottom: none;
    margin: 10px 0;
  }

  &#side-nav {
    padding: 0;
    width: 25%;
    border-bottom: none;
    min-width: 142px;
    position: relative;
    
    h1 {
      margin: 0 0 -5px;
    }

    li {
      margin: 2px 0;
      width: 100%;

      a { 
        padding: 0;
      }   
    }
  }

  #menu {
    padding: 0;
  }

  #title {
    padding-left: 30px;
    display: block;

    .name {
      font-size: 35px;

      .first, .last{
        padding: 0;
        color: $blue;
        height: 40px;
      }  
    }

    .subtitle {
      font-size: 13px;
      color: $blue;
    }
  }
}
.select2.select2-container.select2-container--default{
  width: 100% !important;
}
  .select2-container--default .select2-results__option[aria-selected=true] {
    background-color: $blue;
    color: black;
  }
  .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: $blue;
    color: black;
  }

  .select2-search--dropdown, .select2-dropdown, .select2-container--open .select2-dropdown--below {
    background-color: $yellow !important;
  }

  .select2-container--default .select2-selection--single{
    border-radius: 0;
    background-color: $yellow;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #000;
  }
