@import "variable";

.center-photo {
  width: 50%;
  height: 300px;
  margin: 0 auto;
}

#g-container {
  position: relative;
  margin: 0;
  padding: 0;
}

#gallery {
  height:  100%;
  padding: 50px 40px 0;
  
  #img-container {
    height: 50%;
    border-bottom: 1px solid yellow;
    position: relative;
  }

  #showcase {
    width: 100%;
    padding-bottom: 10px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; 
    display: flex;
    align-items: stretch;

    img{
      flex-grow: 3;
      position: relative;
    }

    span {
      flex-grow: 1;
      height: 100%;
      position: relative;

      &.previousArrow, &.nextArrow {
        
        &:before {
          position: absolute;
          top: 50%;
          color: white;
        }

        &:hover {
          background: rgba(255,255,255,.4);

          &:before {
            color: black;
          }
        }
      }

      &.previousArrow:before{
        content: '\25c0';
        right: 5px;
      }

      &.nextArrow:before{
        content: '\25b6';
        left: 5px;
      }
    }
  }
}
#main-content.flow {
  
  h1, h2, h3, h4, h5, h6, p {
    color: white;
  }

  #player {

    &:focus {
      outline: none;
    }
  }

  #playerDescription {
    height: 20%;
    width: 100%;
  }
  
  .coverflow-text h1{
    color: white;
  }

}
#thumbnail-container {
  display: flex;
  flex-wrap: wrap;

  .thumbnail {
    margin: 5px 5px;
    width: 55px;
    height: 55px;
    position: relative;

    &:hover:before {
      content: "";
      background: rgba(255,255,255,0.75);
      top: 0;
      bottom: 0;
      position: absolute;
      right: 0;
      left: 0;
    }
  }
}

@media (max-width: 810px) {
  nav#side-nav li{
    font-size: 13px;
  }
}


@media (max-width: 500px) {
  #side-nav li{
    display: inline-block;
  }
}