@import "variable";

#main-content {
  width: 75%;
  background-color: red;
  float: right;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

#content {
  position: relative;
  height: calc(100vh - 138px);
}
