@media (min-width: 641px) {
  nav.row #menu li {
    position: relative;
    top: 50px;
  }
}

@media (max-width: 640px) {
  nav {
    padding: 0 0 5px;

    #menu li {
      margin: 10px 0;
    }
  
    #title {
      padding: 0;
    }

    &#side-nav {
      position: static;
      width: 100%;
      
      ul {
        display: flex;
        flex-wrap: wrap;
      } 

      li {
        width: auto;
        flex-grow: 1;
        margin: 5px 10px; 
        font-size: 13px;
      }
    }

    #title {
      text-align: center;
      display: inline-block;

      .name {
        font-size: 30px;
        display: inline-block;

        .first, .last {
          display: inline-block;
          height: 30px;
        }
        .first {
          padding-right: 10px;
        }
      }

      .subtitle {
        font-size: 12px;
        top: 6px;
        position: relative;
      }
    }
  
  }

  #gallery {
    padding: 0;

    #img-container {
      position: relative;
      height: 330px;
      width: 100%;
      
      #showcase {
        width: 100%;
        margin: 0;
      }
    }
  }

  #content {
    height: 100vh;
  }

  body {
    padding: 5px 10px 0 10px;
  }

  #main-content {
    width: 100%;
    position: static;
  }

}