@import "variable";
@import "../bower_components/foundation/scss/foundation";

body {
  background-color: black;
  padding: 27px 27px 0 27px;
}

@import "navigation";

.float-right {
  float: right;
}

#coverflow {
  margin: 0 0;
  max-width: 100%;
}

#main-content {
  width: 75%;
  background-color: red;
  float: right;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

#content {
  position: relative;
  height: calc(100vh - 138px);
}