doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    title Raymond Mariano Artist. Animator. Designer.
    link(href='//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css', rel='stylesheet')
    link(rel="icon",type="image/png",href="/images/ray_favicon.png")
    link(rel="stylesheet", href="/css/normalize.css")  
    link(rel="stylesheet", href="/css/styles.css")
    link(rel="stylesheet", href="/css/#{page}.css")
    link(rel="stylesheet", href="/css/responsive.css")

    block headerStyles

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")

    block headerScripts

  body

    include menu.jade

    block content

    script(src="/js/modernizr.js")
    script(src="/js/fastclick.js")
    script(src="/js/foundation.min.js")
    
    block footerScripts

    script.
      $(function(){
        $(document).foundation();
      });