-var nav = { 'Home': '/', 'Portfolio': '/artportfolio', 'GIFs': '/gif', 'Videos': '/videos', 'About': '/about', 'Contact': '/contact' };
nav.row
  a(href="/").small-12.medium-4.large-3.columns#title 
    .name.clearfix
      span.first.small-6.medium-12.columns RAYMOND
      span.last.small-6.medium-12.columns MARIANO
    .subtitle Artist. Animator. Designer.

  .small-12.medium-8.large-9.columns#menu
    ul.float-right
      each val, key in nav
        if selected === val
          li.active
            a(href=val, title=key)= key
        else
          li
            a(href=val, title=key)= key