extends layout


block content
  .row
    .columns.small-4
      img(src="#")
    .columns.small-8
      .columns.small-12
        h1 About Raymond Mariano
      .columns.small-12#desciption
        p.
          Artist in Hawaii.
        p.
          BA in Creative Media & Minor Cert. in Fine Arts.
        p.
          Animator. Illustrator. Painter. Design. Digital Art.
        p.
          Just a huge passion for art.
        p.
          In spring of 2011, I graduated from the University of Hawaii at Manoa with a Bachelor's Degree in Creative Media, focusing under the department's animation track. I also have a Minor Cert. in Fine Arts. I love fine arts as you can see, but also love the idea of storytelling through visual meida.

        p I have experience in illustrations such as:
        ul
          li digital art
          li life drawings
          li conceptual art
          li graphic design
          li character deseign
        p I also have experience in:
        ul
          li Final Cut Pro (video editing program)
          li 3D animation using Maya Software
          li 2D animation
          li Adobe Photoshop
          li Gimp
          li Microsoft Word
          li Microsoft Powerpoint
          li Microsoft Excel
          li screenwriting
          li painting (acrylic, oil, mixed media, etc)

        p Aside from art and animation, I like watching movies, tv series, board games, stargazing, conversations, dancing, drinking, cooking, sleeping, listening to music, swimming, trying new things, spending time with friends and making new ones!