extends ./shared/layout

block headerScripts

  script(src='//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js')

  script.
    $(function(){
        $('select').select2();
      });

block content
  .row#content
    include shared/responsiveSideNav
    div#main-content
      #gallery
        div#img-container
          #showcase
            img(src="#")
        #thumbnail-container
          include partial/thumbnail

block footerScripts
  script.
    $(function(){  
      $("li a", "#side-nav").click(function(e){
        e.preventDefault();
        var newGallery = $(this).data("gallery");
        ajaxCallToGif(newGallery);
      });
      
      $(".select2-hidden-accessible").on("change", function (e) { 
        var newGallery = $('select').select2("val");
        ajaxCallToGif(newGallery);
      });

      function ajaxCallToGif(newGallery) {
        $("li", "#side-nav").removeClass("active");
        $("a[data-gallery='"+newGallery+"']").closest("li").addClass("active");

        $("#main-content").load("/gif/"+newGallery, function(){
          console.log("loading a new picture");
        });
      }
    });
  