extends ./shared/layout

block headerStyles
  link(rel="stylesheet", href="/css/coverflow.css") 

block headerScripts
  script(src='//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js')

block content
  .row#content

    include shared/responsiveSideNav

    div#main-content
      include partial/artgallery/thumbnail.jade

block footerScripts
  script(src='/js/coverflow.js')
  