extends ./shared/layout

block content
  .row#content
    nav#side-nav
      h1.text-center Art 
      h1.text-center Galleries
      ul.text-center
        li.active
          a(href="#") Concept. Illustrations
        li
          a(href="#") Designs. Graphic Art
        li
          a(href="#") Shirt Designs
        li
          a(href="#") Hawaii Acitivities Authority
        li
          a(href="#") Hawaii Discovery University
        li
          a(href="#") Kombucha Tea
        li 
          a(href="#") Hawaii Rainbow Colors
        li 
          a(href="#") Advertisements
        li 
          a(href="#") Stylus Pens
        li
          a(href="#") Fruity Nudes
        li
          a(href="#") Painting
        li
         a(href="#") Charcoal Drawing
        li
          a(href="#") Photography

    div#main-content
      #gallery
        div#img-container
          #showcase
            img(src="#")
        #thumbnail-container
          include partial/thumbnail.jade

block footerScripts
  script.
    $(function(){
    
    $("li a", "#side-nav").click(function(e){

      e.preventDefault();
      $("li", "#side-nav").removeClass("active");
      $(this).closest("li").addClass("active");
      var newPhoto = $(this).data("gif");
      $("#main-content").load("/gif/"+newPhoto, function(){
        console.log("loading a new picture");
      });

    });
  });
  