extends ./shared/layout

block content
  .row#content
    include shared/responsiveSideNav
    
    #main-content
      include ./partial/gif/arithmageia

block footerScripts
  script.
    $(function(){
      
      $("li a", "#side-nav").click(function(e){

        e.preventDefault();
        $("li", "#side-nav").removeClass("active");
        $(this).closest("li").addClass("active");
        var newPhoto = $(this).data("gif");
        $("#main-content").load("/gif/"+newPhoto, function(){
          console.log("loading a new picture");
        });

      });
    });