extends layout

block content
  .row
    #side-nav.columns.small-12.medium-4
      h4.text-center Animated
      h1 GIFs
      ul.text-center
        li.active
          a(href="#") Arithmageia - Rokuro
        li
          a(href="#") Arithmageia - Aonghus
        li
          a(href="#") Arithmageia - Teza
        li
          a(href="#") Arithmageia - Syna
        li
          a(href="#") Arithmageia - Quinajah
        li
          a(href="#") Arithmageia - Tertius
        li
          a(href="#") Savannah Sun
        li
          a(href="#") Monster Drink Toxic
        li
          a(href="#") Beach at Dusk
        li
          a(href="#") Pillbox Sunrise
        li
          a(href="#") Laugh Emoticon