-var menu = { 'Home': '/', 'Art Portfolio': '/artportfolio', 'GIFs': '/gifs', 'Videos': '/videos', 'About': '/about', 'Contact': '/contact' };
nav.row
  .medium-3.columns#title 
    .name 
      span.first.small-12.columns RAYMOND
      span.last.small-12.columns MARIANO
    .subtitle Artist. Animator. Design.

  .medium-9.columns#menu
    ul.float-right
      each val, key in menu
        if selected === val
          li.active
            a(href=val, title=key)= key
        else
          li
            a(href=val, title=key)= key