nav.row
  .medium-3.columns#title 
    .name 
      span.first.small-12.columns RAYMOND
      span.last.small-12.columns MARIANO
    .subtitle Artist. Animator. Design.

  .medium-9.columns#menu
    ul.float-right
      li
        a(href="#") Home
      li
        a(href="#") Art Portfolio
      li
        a(href="#") GIFs
      li
        a(href="#") Videos
      li
        a(href="#") About
      li
        a(href="#") Contact