.row
  .small-3.columns
    #title 
      .name RAYMOND MARIANO
      .subtitle Artist. Animator. Design
  .small-9.columns
    ul.float-right
      li
        a(href="#") Home
      li
        a(href="#") Art Portfoliio
      li
        a(href="#") GIFs
      li
        a(href="#") Videos
      li
        a(href="#") About
      li
        a(href="#") Contact