extends ./shared/layout

block headerScripts
  script(src='//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js')
    
block content
  .row#content
    include shared/responsiveSideNav
  
    #main-content
      include ./partial/video/video

block footerScripts
  script.
    $(function(){
      
      $("li a", "#side-nav").click(function(e){

        e.preventDefault();
        $("li", "#side-nav").removeClass("active");
        $(this).closest("li").addClass("active");
        var newVideo = $(this).data("video");
        $("#main-content").load("/gif/"+newPhoto, function(){
          console.log("loading a new picture");
        });

      });
    });