@media (min-width: 641px) {
  nav.row #menu li {
    position: relative;
    top: 50px;
  }
}
@media (max-width: 640px) {
  nav {
    padding: 0 0 5px;
  }
  nav li {
    font-size: 11px;
  }
  nav #menu li {
    margin: 10px 0;
  }
  nav #title {
    padding: 0;
  }
  nav#side-nav {
    position: static;
    width: 100%;
  }
  nav#side-nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  nav#side-nav li {
    width: auto;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 5px 10px;
    font-size: 11px;
  }
  nav #title {
    text-align: center;
    display: inline-block;
  }
  nav #title .name {
    font-size: 30px;
    display: inline-block;
  }
  nav #title .name .first, nav #title .name .last {
    display: inline-block;
    height: 30px;
  }
  nav #title .name .first {
    padding-right: 10px;
  }
  nav #title .subtitle {
    font-size: 12px;
    top: 6px;
    position: relative;
  }

  #gallery {
    padding: 0;
  }
  #gallery #img-container {
    position: relative;
    height: 330px;
    width: 100%;
  }
  #gallery #img-container #showcase {
    width: 100%;
    margin: 0;
  }
  #gallery #img-container #showcase span.previousArrow, #gallery #img-container #showcase span.nextArrow {
    display: none;
  }

  body {
    padding: 5px 10px 0 10px;
  }

  #main-content {
    width: 100%;
    position: static;
  }
  #main-content #player {
    height: 275px !important;
  }
}
