body {
  background-color: black;
}

.float-right {
  float: right;
}

nav.row {
  color: #00CAFF;
  border-bottom: 1px solid #00CAFF;
  padding-bottom: 15px;
  margin: 0 0;
  max-width: 100%;
}
nav.row #title .name {
  font-size: 35px;
}
nav.row #title .name .first, nav.row #title .name .last {
  padding: 0;
  height: 40px;
}
nav.row #title .subtitle {
  font-size: 14px;
}
nav.row ul {
  list-style-type: none;
  line-height: 30px;
  margin: 0;
  line-height: 100px;
}
nav.row li {
  color: #FEFF00;
  display: inline;
  margin: 0 15px;
}
nav.row li a {
  color: #FEFF00;
  transition: all .3s linear;
  padding: 5px 0;
}
nav.row li .active a, nav.row li:hover a {
  border-top: 2px solid #FEFF00;
  border-bottom: 2px solid #FEFF00;
  color: #00CAFF;
}
