body {
  background-color: black;
  padding: 27px 27px 0 27px;
}

nav {
  border-bottom: 1px solid #00CAFF;
  padding-bottom: 10px;
  margin: 0;
}
nav, nav a, nav li, nav h1, nav h2, nav h3, nav h4, nav p {
  color: #FEFF00;
}
nav ul {
  list-style-type: none;
  margin: 0;
  width: 100%;
}
nav li {
  text-align: center;
  color: #FEFF00;
  font-size: 13px;
  display: inline-block;
  white-space: nowrap;
  width: 16%;
  cursor: pointer;
  min-width: 62px;
}
nav li a {
  padding: 5px;
  display: inline-block;
  width: 100%;
  color: #FEFF00;
}
nav li:hover {
  background-color: #00CAFF;
}
nav li:hover a {
  color: black;
}
nav li.active {
  background-color: #FEFF00;
}
nav li.active a {
  color: black;
}
nav#side-nav {
  padding: 0;
  width: 25%;
  border-bottom: none;
  min-width: 142px;
  position: relative;
}
nav#side-nav h1 {
  margin: 0 0 -5px;
}
nav#side-nav li {
  margin: 2px 0;
  width: 100%;
}
nav#side-nav li a {
  padding: 0;
}
nav #menu {
  padding: 0;
}
nav #title {
  padding-left: 30px;
  display: block;
}
nav #title .name {
  font-size: 35px;
}
nav #title .name .first, nav #title .name .last {
  padding: 0;
  color: #00CAFF;
  height: 40px;
}
nav #title .subtitle {
  font-size: 13px;
  color: #00CAFF;
}

@media (min-width: 641px) {
  nav.row #menu li {
    position: relative;
    top: 50px;
  }
}
@media (max-width: 640px) {
  nav #menu li {
    margin: 10px 0;
  }
  nav #title {
    padding: 0;
  }
}
.float-right {
  float: right;
}

#coverflow {
  margin: 0 0;
  max-width: 100%;
}

#main-content {
  width: 75%;
  background-color: red;
  float: right;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

#content {
  position: relative;
  height: calc(100vh - 138px);
}
