#side-nav {
  padding: 0;
}
#side-nav, #side-nav a, #side-nav h1 {
  color: #00CAFF;
}
#side-nav ul {
  list-style-type: none;
  margin: 0;
}
#side-nav li {
  margin: 5px 0;
  font-size: 13px;
  width: 100%;
  padding: 5px;
}
#side-nav li a {
  color: #FEFF00;
  transition: all .3s linear;
}
#side-nav li:hover {
  background-color: #00CAFF;
}
#side-nav li:hover a {
  color: black;
}
#side-nav li.active {
  background-color: #FEFF00;
}
#side-nav li.active a {
  color: black;
}
