.row
  h1.columns.small-12 #{title}
.row
  .columns.small-3
    h3 About
    p.
      #{desciption}

  .columns.small-9
    video(src="#{videoUrl}",preload="auto")
      p Use in a more modern browser that supports html 5, or you can visit youtube at this 
          a(href="http://www.youtube.com/#{youtubeUrl}") link