-var pictures = ["/test", "/yellow", "/erupt", "/test2", "/ham", "/crazy", "/thumbs", "/style", "/testign", "/whatdoyoumean", "/hella", "/chimp","/new"]
if pictures

  each picture in pictures
    .thumbnail
      img(src="#{picture}")
