div#playerDescription
  h1.text-center #{title}
  h4.text-center #{description}
div#player
div#small-text
  p #{explanation}

script.

  $(function(){
    $("#main-content").removeClass();
    $("#main-content").addClass("flow");


    coverflow('player').setup({
      playlist: !{coverflowItems},
      width: "100%",
      height: "50%"
    });
  })